<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待分配合同</title>
    <script src="../static/js/jQuery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>

<body>
    <div class="zi_com clearfix" style="padding-top: 3%;">
        <div  class="zi_left" style="padding-top: 4%;">
            <div class="top">
                <span class="span1">合同管理系统</span>
            </div>
            <ul>
                <li class="active btn-slide">
                    <a>查询统计</a>
                    <div class="er">
                        <a>>合同信息查询</a>
                        <a>>合同流程查询</a>
                    </div>
                </li>
                <li class="active btn-slide">
                    <a>基础数据管理</a>
                    <div class="er">
                        <a href="/userListPage">>用户管理</a>
                        <a href="/roleListPage">>角色管理</a>
                    </div>
                </li>
                <li class="active btn-slide">
                    <a>系统管理</a>
                    <div class="er">
                        <a href="/draftContractListPage">>流程配置</a>
                        <a href="/logListPage">>日志管理</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="zi_right">
            <ul class="pro_ul clearfix">
                <table class="table table-bordered" id="draft_contract_table">
                    <tr>
                        <th>cNum(合同编号)</th>
                        <th>name(合同名称)</th>
                        <th>uId(起草人)</th>
                        <th>operation(操作)</th>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
</body>
<script>
    $(function(){
        $.ajax({
            url:"getAllDraftContract",
            type:"get",
            dataType:"json",
            success:function (response) {
                for(var i in response){
                    var tr;
                    tr = '<td>' + response[i].cnum + '</td>'
                        + '<td>' + response[i].name + '</td>'
                        + '<td>' + response[i].uid +'</td>'
                        + '<td><button id="distribute">分配</button></td>';

                    $("#draft_contract_table").append('<tr>' + tr + "</tr>");
                }
            }
        })
    })

    $(function(){
        $("#draft_contract_table").on("click", ":button", function(event){
            alert($(this).closest("tr").find("td").eq(0).text());
            window.location.href="/distributeContractPage?cNum=" + $(this).closest("tr").find("td").eq(0).text();
        });
    });
</script>
</html>