<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="../static/js/jQuery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
</head>
<body>
    <div id="login_frame">
        <form>
            <p><label class="label_input">用户名</label>  <input type="text" id="user_name" class="text_field"/></p>

            <p><label class="label_input">密 码</label>  <input type="password" id="user_password"  class="text_field"/></p><br><br>
        </form>
            <div id="login_control">
                <button class="btn_login" id="loginBtn">登录</button>
                <a id="forget_pwd" href="/registerPage">没有账号，去注册</a>
            </div>
    </div>
</body>
<script>
    $("#loginBtn").click(function(){
        var userName = $.trim($("#user_name").val());
        var password = $.trim($("#user_password").val());

        if(userName === ""){
            alert("请输入用户名");
            return false;
        }
        if(password === ""){
            alert("请输入密码");
            return false;
        }

        var data={name:userName, password:password};

        $.ajax({
            type:"GET",
            url:"/login",
           // async:true,
            data:data,
            success:function (msg) {
                //alert(msg);
                if(msg==="登录成功"){
                    alert("登陆成功");
                    document.location.href="/draftContractListPage";
                }else{
                    alert("登陆失败");
                }
            }
        });
    })

</script>
</html>