<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日志管理</title>
    <script src="../static/js/jQuery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>
    <div class="zi_com clearfix" style="padding-top: 3%;">
        <div  class="zi_left" style="padding-top: 4%;">
            <div class="top">
                <span class="span1">合同管理系统</span>
            </div>
            <ul>
                <li class="active btn-slide">
                    <a>查询统计</a>
                    <div class="er">
                        <a>合同信息查询</a>
                        <a>合同流程查询</a>
                    </div>
                </li>
                <li class="active btn-slide">
                    <a>基础数据管理</a>
                    <div class="er">
                        <a href="/userListPage">>用户管理</a>
                        <a href="/roleListPage">>角色管理</a>
                    </div>
                </li>
                <li class="active btn-slide">
                    <a>系统管理</a>
                    <div class="er">
                        <a href="/draftContractListPage">>流程配置</a>
                        <a href="/logListPage">>日志管理</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="zi_right">
            <ul class="pro_ul clearfix">
                <table class="table table-bordered"  id="log_list_table">
                    <thead>
                    <tr>
                        <th>日志编号</th>
                        <th>用户编号</th>
                        <th>操作时间</th>
                        <th>内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="log : ${logs}">
                        <td scope="row" th:text="${log.getLid()}">1</td>
                        <td th:text="${log.getUid()}">neo</td>
                        <td th:text="${log.getTime()}">Otto</td>
                        <td th:text="${log.getContent()}">Otto</td>
                    </tr>
                    </tbody>
                </table>
                <button id="backupBtn" disabled>备份</button>
            </ul>
        </div>
    </div>
</body>
</html>