<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <script src="../static/js/jQuery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
</head>
<body>
    <div id="login_frame">
        <form>
            <p><label class="label_input">用户名</label><input type="text" id="user_name" class="text_field"/></p>
            <p><label class="label_input">密码</label><input type="password" id="user_password" class="text_field"/></p>
            <p><label class="label_input">确认密码</label><input type="password" id="user_password_again" class="text_field"/></p><br>
        </form>
        <div id="login_control">
            <button class="btn_login" id="loginBtn">注册</button>
            <a id="forget_pwd" href="/loginPage">已有账号，去登录</a>
        </div>
    </div>
</body>
<script>
    $("#loginBtn").click(function(){
        var userName = $.trim($("#user_name").val());
        var password = $.trim($("#user_password").val());
        var passwordAgain = $.trim($("#user_password_again").val());

        //验证用户输入
        if(userName === ""){
            alert("请输入用户名");
            return false;
        }
        if(password === ""){
            alert("请输入密码");
            return false;
        }
        if(passwordAgain === ""){
            alert("请确认密码");
            return false;
        }
        if(password !== passwordAgain){
            alert("两次输入密码不一致");
            return false;
        }

        var data={name:userName, password:password};

        $.ajax({
            type:"GET",
            url:"/register",
            async:true,
            data:data,
            success:function (msg) {
                //alert(msg);
                if(msg==="注册成功"){
                    alert("注册成功");
                    document.location.href="/loginPage";
                }else if(msg === "用户名已存在") {
                    alert("用户名已存在");
                }else {
                    alert("注册失败");
                }
            }
        });
    })

</script>
</html>